@charset "UTF-8";
@font-face {
  font-family: "corporative";
  src: url(../font/CorporativeSansAltRegular.otf);
}
@font-face {
  font-family: "corporative_bold";
  src: url(../font/CorporativeSansAltBold.otf);
}
/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: "corporative";
}

/* Básicos */
.hover:hover, #testimonios div .cards_testimonios div:hover, #sobrelasclases div .cards_sobrelasclases div:hover, header nav div div ul li a:hover, header nav div a img:hover, .botones:hover, .home div div a button:hover {
  filter: brightness(0.85);
  transform: scale(1.015);
}

.botones, .home div div a button {
  background-color: #A405A7;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.secciones, #testimonios, #sobrelasclases {
  display: flex;
  justify-content: center;
}
.secciones div, #testimonios div, #sobrelasclases div {
  /* margin: 20px; */
  width: 80%;
}
.secciones div h3, #testimonios div h3, #sobrelasclases div h3 {
  font-size: 2.5rem;
  font-family: "corporative_bold";
}
.secciones div h3 span, #testimonios div h3 span, #sobrelasclases div h3 span {
  font-size: 1.5rem;
  font-family: "corporative_bold";
}

/* Home */
.home {
  background-image: url(../images/fondo.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home div img {
  width: 20vw;
}
.home div div {
  width: 20vw;
  margin: 5px;
}
.home div div a {
  text-decoration: none;
  width: 100%;
}
.home div div a button {
  width: 100%;
}
.home div div a button img {
  width: 30%;
}
.home div div a button span {
  width: 60%;
  text-align: start;
  color: white;
  font-family: "corporative_bold";
  font-size: 1.8rem;
}

header {
  background-image: url(../images/fondo.png);
  background-size: cover;
}
header nav div {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
header nav div a {
  width: 20%;
}
header nav div a img {
  width: 50%;
  margin: 20px;
}
header nav div .burguer {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: end;
}
header nav div .burguer .color_icon {
  color: #FFFFFF;
}
header nav div div ul {
  display: flex;
  justify-content: end;
  width: 100%;
}
header nav div div ul li a {
  width: 100%;
  font-family: "corporative_bold";
  font-size: 1.25rem !important;
  color: #FFFFFF !important;
  margin: 10px;
}

.line_header {
  color: #A405A7;
  width: 100%;
  border-width: 5px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

/* Principal */
#principal {
  background-image: url(../images/fondo.png);
  background-size: cover;
  display: flex;
  justify-content: start;
}
#principal .imagen_principal {
  width: 50%;
  display: flex;
  justify-content: center;
}
#principal .imagen_principal img {
  width: 65%;
}
#principal .presentacion {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 45%;
  margin: 20px 0px;
}
#principal .presentacion h1 {
  font-family: "corporative_bold";
  font-size: 3.5rem;
}
#principal .presentacion h1 span {
  font-size: 2.1rem;
  font-family: "corporative_bold";
}
#principal .presentacion h2 {
  font-family: "corporative_bold";
  font-size: 1.75rem;
  margin-top: 10px;
}
#principal .presentacion h2 span {
  font-size: 1.75rem;
  font-family: "corporative_bold";
  text-decoration: underline #A405A7;
}
#principal .presentacion p {
  width: 80%;
  margin-top: 10px;
  font-size: 1.4rem;
  text-align: justify;
}
#principal .presentacion p span {
  font-family: "corporative_bold";
}
#principal .presentacion div {
  display: flex;
  justify-content: start;
}
#principal .presentacion div a {
  margin-right: 20px;
  color: #FFFFFF;
  font-size: 1.3rem;
}

/* Sobre las clases */
#sobrelasclases div div {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
#sobrelasclases div div .video-container {
  position: relative;
  width: 70%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
}
#sobrelasclases div div .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#sobrelasclases div .cards_sobrelasclases {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#sobrelasclases div .cards_sobrelasclases div {
  padding: 40px;
  background-image: url(../images/fondo.png);
  background-size: 300%;
  border-radius: 0px 20px 20px 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#sobrelasclases div .cards_sobrelasclases div .background-circles {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 30%;
  z-index: 0;
}
#sobrelasclases div .cards_sobrelasclases div h4 {
  font-family: "corporative_bold";
  font-size: 1.6rem;
  position: relative;
  z-index: 1;
}
#sobrelasclases div .cards_sobrelasclases div hr {
  color: #A405A7;
  border-width: 1px;
  opacity: 1;
  z-index: 1;
}
#sobrelasclases div .cards_sobrelasclases div p {
  font-size: 1.4rem;
  z-index: 1;
}
#sobrelasclases div .cards_sobrelasclases div:nth-child(2) {
  margin: 20px 10px;
}

#materias {
  display: flex;
  width: 100%;
}
#materias div {
  padding: 70px;
  background-image: url(../images/fondo.png);
  background-size: cover;
}
#materias div h3 {
  font-size: 2.5rem;
  font-family: "corporative_bold";
  color: #FFFFFF;
}
#materias div p {
  font-size: 1.4rem;
  color: #FFFFFF;
  margin-bottom: 30px;
}
#materias div .custom-list {
  list-style: none;
  position: relative;
  padding-left: 40px;
}
#materias div .custom-list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 1.4rem;
}
#materias div .custom-list li span {
  text-decoration: underline #A405A7;
}
#materias div .custom-list li::before {
  content: "";
  position: absolute;
  left: -40px; /* Ajusta la posición del ícono respecto al texto */
  top: 0;
  width: 50px;
  height: 50px;
  background: url(../images/ic_circulos.png) no-repeat center center;
  background-size: 100%;
}
#materias div .custom-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 30px; /* Ajusta la posición de la línea */
  width: 2px;
  height: 60px; /* Ajusta la longitud de la línea */
  background-color: #A405A7; /* Cambia el color de la línea */
}
#materias .imagen_clases {
  width: 100%;
  background-image: url(../images/ilustracion_clase1.jpg);
  background-size: cover;
}

/* Testimonios */
#testimonios div div {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
#testimonios div .cards_testimonios {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}
#testimonios div .cards_testimonios div {
  padding: 40px 30px 20px 30px;
  background-image: url(../images/fondo.png);
  background-size: 300%;
  border-radius: 20px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#testimonios div .cards_testimonios div .background-comillas {
  position: absolute;
  top: -55px;
  left: 30px;
  width: 25%;
  z-index: 0;
}
#testimonios div .cards_testimonios div p {
  font-size: 1.4rem;
  z-index: 1;
  margin: 0;
}
#testimonios div .cards_testimonios div .testimonios_nombre {
  font-family: "corporative_bold";
  text-align: right;
}
#testimonios div .cards_testimonios div:nth-child(2) {
  margin: 20px 10px;
}
#testimonios div a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.3rem;
}

/* Precios */
#precios {
  display: flex;
  width: 100%;
}
#precios .imagen_precio {
  width: 30%;
  height: 500px;
  background-image: url(../images/ilustracion_clase2.jpg);
  background-size: cover;
}
#precios .container_precios {
  width: 70%;
  background-image: url(../images/fondo.png);
  background-size: cover;
  color: #FFFFFF;
}

@media screen and (max-width: 1045px) {
  #principal .imagen_principal img {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  header nav div a {
    width: 30%;
  }
  .burguer {
    width: 30%;
  }
  .home div img {
    width: 50vw;
  }
  .home div div {
    width: 60vw;
  }
  .home div div a button span {
    font-size: 1.5rem;
  }
  .secciones div, #sobrelasclases div, #testimonios div {
    width: 90%;
    margin: 0;
    /* margin-top: 20px; */
  }
  #principal .imagen_principal img {
    width: 80%;
  }
  #principal .presentacion h1 {
    font-size: 2.4rem;
  }
  #principal .presentacion h1 span {
    font-size: 1.6rem;
  }
  #principal .presentacion h2 {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  #principal .presentacion h2 span {
    font-size: 1.2rem;
  }
  #principal .presentacion p {
    margin-top: 5px;
    font-size: 1rem;
    width: 90%;
  }
  #principal .presentacion div a {
    font-size: 1rem;
  }
  #sobrelasclases div div {
    margin: 10px 0;
  }
  #sobrelasclases div .cards_sobrelasclases {
    flex-direction: column;
  }
  #sobrelasclases div .cards_sobrelasclases div {
    width: 100%;
    margin: 10px 0;
  }
  #sobrelasclases div .cards_sobrelasclases div .background-circles {
    width: 13%;
  }
  #sobrelasclases div .cards_sobrelasclases div:nth-child(2) {
    margin: 20px 0px;
  }
  #materias div .custom-list li:not(:last-child)::after {
    height: 100px;
  }
  #testimonios div .cards_testimonios div .background-comillas {
    top: -35px;
  }
}
@media screen and (max-width: 651px) {
  .secciones div, #sobrelasclases div, #testimonios div {
    width: 90%;
    margin: 0;
    margin-top: 20px;
  }
  header nav div a {
    width: 60%;
  }
  .burguer {
    width: 40%;
  }
  #principal {
    flex-direction: column-reverse;
    align-items: center;
  }
  #principal .imagen_principal {
    width: 100%;
  }
  #principal .imagen_principal img {
    width: 80%;
  }
  #principal .presentacion {
    width: 85%;
  }
  #principal .presentacion h1 {
    font-size: 3.5rem;
  }
  #principal .presentacion h1 span {
    font-size: 2rem;
  }
  #principal .presentacion h2 {
    font-size: 1.8rem;
    margin-top: 5px;
  }
  #principal .presentacion h2 span {
    font-size: 1.8rem;
  }
  #principal .presentacion p {
    margin-top: 5px;
    font-size: 1.4rem;
    width: 100%;
  }
  #principal .presentacion div {
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
  }
  #principal .presentacion div a {
    margin: 0;
    font-size: 1.4rem;
  }
  #sobrelasclases div div {
    margin: 0;
  }
  #sobrelasclases div div .video-container {
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
  }
  #sobrelasclases div .cards_sobrelasclases {
    flex-direction: column;
  }
  #sobrelasclases div .cards_sobrelasclases div {
    margin-bottom: 20px;
  }
  #sobrelasclases div .cards_sobrelasclases div .background-circles {
    width: 30%;
  }
  #materias {
    flex-direction: column;
  }
  #materias div {
    padding: 40px;
  }
  #materias .imagen_clases {
    height: 300px;
  }
  #testimonios div .cards_testimonios {
    flex-direction: column;
  }
  #testimonios div .cards_testimonios div .background-comillas {
    top: -55px;
  }
  #testimonios div .cards_testimonios div:nth-child(2) {
    margin: 20px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
