@media screen and (max-width: 1045px) {
    #principal {
        .imagen_principal {
            img {
                width: 90%;
            }
        }
    }
    #materias {
        div {
            .custom-list {
                li {
                    &:not(:last-child)::after {
                        height: 100px;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 899px) {
    header {
        height: fit-content;
        nav{
            div{
                a {
                width: 30%;
                }
            }
        }
    }
    .burguer{
        width: 30%;
    }   
    .home {
        div {
            img {
                width: 50vw;
            }
            div {
                width: 60vw;
                a {
                    button {
                        span {
                            font-size: 1.5rem;
                        }
                    }
                }                
            }
        }
    }
    .secciones {
        div {
            width: 90%;
            margin: 0;
            /* margin-top: 20px; */
        }
    }
    #principal {
        .imagen_principal {
            img {
                width: 80%;
            }
        }
        .presentacion {
            h1 {
                font-size: 2.4rem;
                span {
                    font-size: 1.6rem;
                }
            }
            h2 {
                font-size: 1.2rem;
                margin-top: 5px;
                span {
                    font-size: 1.2rem;
                }
            }
            p {
                margin-top: 5px;
                font-size: 1rem;
                width: 90%;
            }
            div {
                a {
                    font-size: 1rem;
                }
            }
            
        }
    }
    #sobrelasclases {
        div {
            div {
                margin: 10px 0;
            }
            .cards_sobrelasclases {
                flex-direction: column;
                div {
                    width: 100%;
                    margin: 10px 0;
                    .background-circles {
                        width: 13%;
                    }
                    &:nth-child(2) {
                        margin: 20px 0px;
                    }
                }
            }
        }
    } 
    #materias {
        div {
            .custom-list {
                li {
                    &:not(:last-child)::after {
                        height: 145px;
                    }
                }
            }
        } 
    }    
    #testimonios {
        div {
            .cards_testimonios {
                div {
                    .background-comillas {
                        top: -35px;
                    }
                }
            }
        }
    } 
    #precios {
        .imagen_precio {
            width: 40%;
            background-size: cover;
        }
        .container_precios {
            width: 60%;
            padding: 50px;
            .cards_precios {
                flex-direction: column;
                div {
                    width: 100%;
                    margin-bottom: 10px;
                    .background-peso {
                        width: 20%;
                    }
                }
            }
        }
    }
    #contacto {
        div {
            div {
                .botones {
                    width: 50%; 
                }
            }
        }
    }
}

@media screen and (max-width: 651px) {
    .secciones {
        div {
            width: 90%;
            margin: 0;
            margin-top: 20px;
        }
    }
    header {
        nav{
            div{
                a {
                width: 60%;
                }
            }
        }
    }
    .burguer{
        width: 40%;
    }   
    #principal {
        flex-direction: column-reverse; 
        align-items: center;
        .imagen_principal {
            width: 100%;
            img {
                width: 80%;
            }
        }
        .presentacion {
            width: 85%;
            h1 {
                font-size: 3.5rem;
                span {
                    font-size: 2rem;
                }
            }
            h2 {
                font-size: 1.8rem;
                margin-top: 5px;
                span {
                    font-size: 1.8rem;
                }
            }
            p {
                margin-top: 5px;
                font-size: 1.4rem;
                width: 100%;
            }
            div {
                margin-top: 20px;
                width: 100%;
                justify-content: space-around;
                a {
                    margin: 0;
                    font-size: 1.4rem;
                }
            }
            
        }
    }
    #sobrelasclases {
        div {
            div {
                margin: 0;
                .video-container {
                    width: 100%;
                    padding-bottom: 56.25%;
                    margin-bottom: 20px;
                }
            }
            .cards_sobrelasclases {
                flex-direction: column; 
                div {
                    margin-bottom: 20px;
                    .background-circles {
                        width: 30%;
                    }
                }
            }
        }
    } 
    #materias {
        flex-direction: column;
        div {
            padding: 40px;
            .custom-list {
                li {
                    &:not(:last-child)::after {
                        height: 145px;
                    }
                }
            }
        }
        .imagen_clases {
            height: 300px;
        }
    }
    #testimonios {
        div {
            .cards_testimonios {
                flex-direction: column;
                div { 
                    .background-comillas {
                        top: -55px;
                    }                   
                    &:nth-child(2) {
                        margin: 20px 0px;
                    }
                }
            }
        }
    }  
    #precios {
        flex-direction: column;
        .imagen_precio {
            width: 100%;
            height: 300px;
        }
        .container_precios {
            width: 100%;
            padding: 20px;
            .cards_precios {
                div {
                    margin-bottom: 20px;
                }
            }
        }
    }
    #contacto {
        div {
            div {
                .botones {
                    width: 80%; 
                }
            }
        }
        .irarriba {
            width: 20%;
        }
    }
    footer {
        .cards_redes {
            flex-direction: column;
            a {
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
                div {
                    display: flex;
                    justify-content: space-between;
                    div {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
        margin-bottom: 30px;
    }
}